.pageTheme {

	color: #c2c7d3;
	background-color: #292c34;
	border: 1px solid #3c3f4b;
	border-radius: 3px;

}
/* Custom Code Block: <element class="codeBlock"> */
.codeBlock {
	margin: 0 10px 0 5px;
	padding: 0 0px 20px 10px;
	background-color: #212227;
	border-color: #86aea7;
	border-left-width: 5px;
	border-left-style: solid;

	font-family: Fira Code, Noto Mono, monospace;
	font-size: 12px;
	line-height: 19px;
}

/* Custom Block Quote: <element class="blockQuote"> */
.blockQuote {
	margin: 0 10px 0 5px;
	padding: 0 0px 0 10px;
	background-color: #30333d;
	border-color: rgb(238, 182, 144);
	border-left-width: 5px;
	border-left-style: solid;
}

/* "Namespaces" Text Styling: <element class="namespaceText"> */
.namespaceText {
	font-weight: bold;
	font-style: italic;
	color: #c695c6;
}
/* "Classes" Text Styling: <element class="classText"> */
.classText {
	font-style: italic;
	color: #4db7c5;
}
/* "Methods" Text Styling: <element class="methodText"> */
.methodText {
	font-style: italic;
	color: #36d4ba;
}
/* "Fields" Text Styling: <element class="fieldText"> 
	"Properties" Text Styling: <element class="propertyText">*/
.fieldText, .propertyText {
	font-style: italic;
	font-weight: bold;
	color: #ec6066;
}
/* "Data Type" Text Styling: <element class="dataTypeText">*/
.dataTypeText {
	font-style: italic;
	color: #ec6066;
}
/* "Object" Text Styling: <element class="objectText"> */
.objectText {
	font-style: italic;
	color: #ec9860;
}
	
/* Prevent default hyperlink coloring */
a { 
	color: inherit; 
	text-decoration-line: inherit;
}

a:hover {
	text-decoration: underline;
	color: #e49732;
}

li {
	margin-top: -5px;
	margin-bottom: -5px;
	line-height: 0px;
}

body {
	margin-right: 10%;
	margin-left: 20%;
	
	font-family: Verdana, Segoe UI, Noto Sans, sans-serif;
	font-size: 16px;
	padding: 0 12px;
	line-height: 22px;
	word-wrap: normal;
	
	overflow-x: auto;
	white-space: pre-wrap;
}

img {
	max-width: 100%;
	max-height: 100%;
}

select:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

text {
	text-decoration: none;
}

text, h2:hover {
	color: #e49732;
}

h1, h2, h3 {
	font-weight: normal;
}

h2, h3, h4 {
	margin-bottom: -20px;
}

h1 {
	line-height: 1.5;
	padding-bottom: 10px; /* space between bottom and text */
	border-bottom-style: solid; /* solid bottom line */
	border-bottom-width: 2px; /* bottom line width*/
}

h2 {
	padding-bottom: 5px;
	line-height: 1;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

table, th, td {
	border: 0.5px solid lightgray;
}

th, td {
	padding: 8px 8px 8px 8px;
	border: 0.5px solid lightgray;
}

th {
	font-weight: bold;
}